<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="NotaFiscalXmlPath" value="value" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="NotaFiscalConnection" connectionString="Server=f7ffb488-b7b1-4887-b3d8-a64300f45932.sqlserver.sequelizer.com;Database=dbf7ffb488b7b14887b3d8a64300f45932;User ID=hahvtfiwbynzgzvs;Password=mmWG7WyWymkK8KQpsXWCA2qEX8fXtKEyF3y4MUfDJCzJbR4yqpJzgurs5qR8QHCW;" />
    </connectionStrings>
</configuration>